In [1]:
#a. Read in the dataset from the URL to the .csv file above.
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/roualdes/data/master/carnivora.csv')
df.head()

,Order,SuperFamily,Family,Genus,Species,FW,SW,FB,SB,LS,GL,BW,WA,AI,LY,AM,IB
0,Carnivora,Caniformia,Canidae,Canis,Canis lupus,31.1,33.1,130.0,132.3,5.5,63.0,425.0,35.0,NaN,177.0,913,12
1,Carnivora,Caniformia,Canidae,Canis,Canis latrans,9.7,10.6,84.5,88.3,6.2,61.5,225.0,98.0,NaN,NaN,365,12
2,Carnivora,Caniformia,Canidae,Canis,Canis adustus,10.6,11.3,53.5,51.8,4.3,63.3,NaN,NaN,NaN,127.0,NaN,NaN
3,Carnivora,Caniformia,Canidae,Canis,Canis mesomelas,7.2,7.7,52.0,56.8,3.8,60.0,NaN,61.0,270.0,NaN,392,NaN
4,Carnivora,Caniformia,Canidae,Lycaon,Lycaon pictus,22.2,22.0,128.0,129.0,8.8,70.5,365.0,77.0,390.0,132.0,t 132,13

In [2]:
#b. Provide a table of the counts of the number of animals in SuperFamily versus Order.
superfamily_order_table = pd.crosstab(df['SuperFamily'], df['Order'])

superfamily_order_table

Order        Carnivora
SuperFamily
Caniformia          57
Feliformia          55

In [3]:
#c. Calculate a new column named long_gestation_length which records True 
#  for all animals with a gestation length (GL) greater or equal to the mean gestation length, and False otherwise.

mean_gl = df['GL'].mean()
df['long_gestation_length'] = df['GL'] >= mean_gl

#d. Change the type of the column long_gestation_length from bool to category.
df['long_gestation_length'] = df['long_gestation_length'].astype('category')

In [4]:
#e. Use rename_categories to rename the values of the column long_gestation_length from True/False to "long"/"short".
df['long_gestation_length'] = df['long_gestation_length'].cat.rename_categories({True: 'long', False: 'short'})


df[['GL', 'long_gestation_length']].head()

     GL long_gestation_length
0  63.0                 short
1  61.5                 short
2  63.3                 short
3  60.0                 short
4  70.5                  long

In [5]:
#Provide a table of proportions of SuperFamily by the variable long_gestation_length, where the rows (index) are normalized.
#Which SuperFamily is more likely to have relatively shorter gestation lengths?
# Create a crosstab with proportions of long_gestation_length by SuperFamily
proportions_table = pd.crosstab(df['SuperFamily'], df['long_gestation_length'], normalize='index')
superfamily_most_short = proportions_table.sort_values(by='short', ascending=False)
# Display the table of proportions
proportions_table

long_gestation_length     short      long
SuperFamily
Caniformia             0.824561  0.175439
Feliformia             0.509091  0.490909

In [8]:
#g. Calculate a new column that records the average brain weight (SB) to average body weight (SW) ratio for all animals in the DataFrame.

df['brain_body_ratio'] = df['SB'] / df['SW']

family_brain_body_ratio = df.groupby('Family')['brain_body_ratio'].mean()
family_brain_body_ratio

Family
Ailuridae       1.735556
Canidae         7.897400
Felidae         5.501669
Hyaenidae       3.278154
Mustelidae     10.498783
Procyonidae    10.790320
Ursidae         1.936682
Viverridae      9.453232
Name: brain_body_ratio, dtype: float64

In [9]:
#h. Provide a list of the top three Family ranked by mean brain weight (SB) to body weight (SW) ratios.
# descending order to get the top three
top_three_families = family_brain_body_ratio.sort_values(ascending=False).head(3)

#top three families
top_three_families

Family
Procyonidae    10.790320
Mustelidae     10.498783
Viverridae      9.453232
Name: brain_body_ratio, dtype: float64

In [10]:
#i. Look up the Familiy with the highest brain to body weight ratio. Based on your experience, is this Family particularly smart?

highest_ratio_family = family_brain_body_ratio.idxmax()
highest_ratio_family

'Procyonidae'

In [11]:
# a.Read the dataset from the downloaded  from Kaggle to the csvfile.
import pandas as pd

df = pd.read_csv('batting/test.csv')

df.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0,Unnamed: 11
0,0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14,NaN
1,1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17,NaN
2,2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16,NaN
3,3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8,NaN
4,4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9,NaN

In [12]:
# b.Which player has the highest mean number of runs per year played? Your answer should be of type Series.



df.Runs = pd.to_numeric(df.Runs, errors='coerce')
df['StartYear'] = df['Span'].apply(lambda x: int(x.split('-')[0]))
df['EndYear'] = df['Span'].apply(lambda x: int(x.split('-')[1]))
df['YearsPlayed'] = df['EndYear'] - df['StartYear'] + 1
df['MeanRunsPerYear'] = df['Runs'] / df['YearsPlayed']
top_player = df.loc[df['MeanRunsPerYear'].idxmax()]
result = pd.Series({'Player': top_player['Player'], 'MeanRunsPerYear': top_player['MeanRunsPerYear']})
result

Player             AN Cook (ENG)
MeanRunsPerYear       959.384615
dtype: object

In [13]:
# c.Provide a list of the top 3 players with the highest mean number of runs per year played? Your list should only include the columns for Player and the mean number of runs per year played and be of type DataFrame.
top_3_players = df[['Player', 'MeanRunsPerYear']].sort_values(by='MeanRunsPerYear', ascending=False)
top_3_players.head(3)

                  Player  MeanRunsPerYear
4          AN Cook (ENG)       959.384615
40         JE Root (ENG)       919.875000
70  ME Trescothick (ENG)       832.142857

In [14]:
# d.How many players are within 400 of the highest mean number of runs per year played? List the players and their mean number of runs as a DataFrame, and provide a count of the number of players using Python code (not just counting by eye/hand).

highest_mean = df['MeanRunsPerYear'].max()
players_within_400 = df[df['MeanRunsPerYear'] >= (highest_mean - 400)][['Player', 'MeanRunsPerYear']]
count_players_within_400 = players_within_400.shape[0]
count_players_within_400

44

In [15]:
#e. Provide a list of the highest mean number of runs per year played by country.
df['Country'] = df['Player'].str.extract(r'\((.*?)\)')
mean_runs_by_country = df.loc[df.groupby('Country')['MeanRunsPerYear'].idxmax()][['Country', 'Player', 'MeanRunsPerYear']]
mean_runs_by_country.sort_values(by='MeanRunsPerYear', ascending=False)

        Country                            Player  MeanRunsPerYear
4           ENG                     AN Cook (ENG)       959.384615
45        INDIA                   V Kohli (INDIA)       800.222222
50          AUS                   DA Warner (AUS)       787.555556
3     ICC/INDIA              R Dravid (ICC/INDIA)       781.647059
5            SL                KC Sangakkara (SL)       775.000000
14       ICC/SA                 GC Smith (ICC/SA)       712.692308
6        ICC/WI                  BC Lara (ICC/WI)       703.117647
59           NZ                KS Williamson (NZ)       637.900000
41           SA                    G Kirsten (SA)       607.416667
68          PAK                   Azhar Ali (PAK)       588.500000
17      ICC/PAK          Inzamam-ul-Haq (ICC/PAK)       551.875000
7            WI                S Chanderpaul (WI)       539.409091
417         ZIM                  MW Goodwin (ZIM)       471.333333
233       BDESH             Mominul Haque (BDESH)       379.571429
139     ENG/ICC              A Flintoff (ENG/ICC)       320.416667
107      ICC/NZ               DL Vettori (ICC/NZ)       251.722222
215      AUS/SA               KC Wessels (AUS/SA)       214.461538
1142        AFG                 Rahmat Shah (AFG)       149.000000
1205        IRE                  KJ O'Brien (IRE)       129.000000
587   INDIA/PAK             AH Kardar (INDIA/PAK)        71.307692
461      ICC/SL           M Muralitharan (ICC/SL)        66.368421
599     AUS/ENG              WL Murdoch (AUS/ENG)        56.750000
2113          3          Mohammad Nawaz (3) (PAK)        50.000000
1368      NZ/WI                SC Guillen (NZ/WI)        33.666667
1459     ENG/SA                 F Hearne (ENG/SA)        21.000000
1376  ENG/INDIA  Nawab of Pataudi snr (ENG/INDIA)        13.266667
2174    ENG/IRE               WB Rankin (ENG/IRE)         7.166667
2486     SA/ZIM               AJ Traicos (SA/ZIM)         0.791667